<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body>

<header>
    {% include header.html %}
</header>
<div class="row">

    <div class="large-3 small-12 columns">
        <ul class="vertical menu" data-accordion-menu>
            <li>
                <a href="/anbieter/">Anbieter</a>
                <ul class="menu vertical nested">
                    <li><a href="/anbieter/banx/">Banx</a></li>
                    <li><a href="/anbieter/degiro/">Degiro</a></li>
                    <li><a href="/anbieter/flatex/">Flatex</a></li>
                </ul>
            </li>
            <li><a href="/datenschutz/">Datenschutz</a></li>
            <li><a href="/impressum/">Impressum</a></li>
            <li><a href="/kontakt/">Kontakt</a></li>
        </ul>

    </div>
    <div class="large-9 small-12 columns">
        {{ content }}
    </div>
</div>

{% include footer.html %}



{% include scripts.html %}
{% include google-analytics.html %}

</body>

</html>